@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-jjred: #e31837;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
